<div class="card" data-tilt-element>
    <h3><%= locals.heading %></h3>
    <div class="card-text">
        <p><%= locals.description %>
        </p>
    </div>
    <div class="button-wrapper">
        <a href="#" class="button"><span>Read more</span></a>
    </div>
</div>