<%- include('../partials/footer'); %>
  </main>
  </div>
  <script type="module" src="/scripts/vanilla-tilt/dist/vanilla-tilt.min.js"></script>
  <script defer src="/scripts/gsap/dist/gsap.min.js"></script>
  <script defer src="/scripts/gsap/dist/ScrollTrigger.min.js"></script>
  <script defer src="/scripts/gsap/dist/CSSRulePlugin.min.js"></script>
  <script type="module" src="/scripts/@swup/preload-plugin/dist/SwupPreloadPlugin.min.js"></script>
  <script type="module" src="/scripts/@swup/slide-theme/dist/SwupSlideTheme.min.js"></script>
  <script type="module" src="/scripts/@swup/scroll-plugin/dist/SwupScrollPlugin.min.js"></script>
  <script type="module" src="/scripts/swup/dist/swup.min.js"></script>
  <script type="module" src="/js/main.js"></script>
  </body>

  </html>