<%- include('../partials/wrapper_top'); %>
    <section class="glassy">
        <h1>Tutorials will come soon page will come soon...</h1>
    </section>
    <%- include('../partials/wrapper_bottom'); %>